* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

input {
    padding: 0.2em;
    margin-left: 0.5em;
}

input[type="button"],
input[type="submit"] {
    width: auto;
    padding: 0.2em;
    margin-left: 0.5em;
    text-align: center;
}

.list-msg {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0.8em;
    right: 0.8em;
    background: rgba(255, 255, 255, 0.9);
    width: 15%;
    width: calc(100% - 85%);
    max-height: 90%;
    cursor: pointer;
    text-align: center;
    border: 1px solid gray;
}

.view-ul {
    padding: 0;
    list-style-type: none;
    overflow: auto;
    max-height: 550px;
}

.view-ul li {
    border-top: 1px solid #e0e0e0;
    padding: 0 2em;
    cursor: pointer;
}

.listview-id {
    display: none;
}

.view-ul li h4 {
    margin-bottom: 0;
    color: #2a6496;
}

.view-ul .address {
    font-size: 0.5em;
    line-height: normal;
    margin-top: 0.25em;
}

.view-ul p {
    font-size: 0.5em;
}

.listview {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0.5em;
    right: 0.8em;
    background: rgba(255, 255, 255, 0.9);
    width: 10%;
    width: calc(100% - 90%);
    max-height: 90%;
    border: 1px solid gray;
}

.mobilebutton {
    display: none;
    color: #2a6496;
    background-color: rgba(255, 255, 255, .9);
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;
    padding: 0;
    border: 0;
}

.location-info {
    margin-left: 5%;
    margin-top: 0.5em;
    margin-bottom: 0.3em;

}

h2 {
    font-weight: bold;
    font-size: 2em;
    color: #999999;
    line-height: normal;
    padding: 0.8em;
}

.show-map {
    display: block;
    height: 80%;
    height: calc(100% - 20%);
    margin-left: 5%;
    margin-right: 5%;
}

.map-div {
    height: 40em;
    width: 100%;
    height: auto;
    padding-bottom: 2%;
}

h4 {
    font-weight: bold;
    font-size: 0.7em;
    color: #4a4a4a;
    line-height: 15px;
}

h2,
h4,
h5 {
    padding: 0.5em;
    padding-left: 5%;
    padding-right: 5%;
}

a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 0.5em;
    display: block;
}

ul {
    list-style-type: none;
}


@media only screen and (max-width: 1380px) {

    .list-msg {
        width: 20%;
        width: calc(100% - 80%);
    }

    .listview {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 3em;
        background: rgba(255, 255, 255, 0.9);
        width: 20%;
        width: calc(100% - 80%);
        max-height: 90%;
        border: 1px solid gray;
    }

    h2 {
        font-size: 1.5em;
    }

    .map-div {
        height: 29em;
        width: 100%;
        padding-bottom: 1%;
    }
}

@media only screen and (max-width: 1590px) {

    .list-msg {
        width: 20%;
        width: calc(100% - 80%);
    }

    .listview {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 3em;
        background: rgba(255, 255, 255, 0.9);
        width: 20%;
        width: calc(100% - 80%);
        max-height: 90%;
        border: 1px solid gray;
    }

    h2 {
        font-size: 1.2em;
    }

    .map-div {
        height: 29em;
        width: 100%;
        padding-bottom: 1%;
    }
}

@media only screen and (max-width: 750px) {
    .mobilebutton {
        display: block;
    }

    .listview {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 3em;
        background: rgba(255, 255, 255, 0.9);
        width: 70%;
        max-height: 90%;
        border: 1px solid gray;
    }

    .list-msg {
        display: none;
    }

    h2 {
        font-size: 1em;
    }

    .map-div {
        height: 30em;
        width: 100%;
        padding-bottom: 5%;
    }
}


@media only screen and (max-width: 499px) {

     input {
        width: 7em;
        margin-left: 0.2em;
        padding: 0.1em;
     }

    .listview {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        position: absolute;
        top: 2em;
        background: rgba(255, 255, 255, 0.9);
        width: 95%;
        max-height: 90%;
        border: 1px solid gray;
    }

    .map-div {
        height: 30em;
        width: 100%;
        padding-bottom: 2%;
    }

    input[type="button"],
    input[type="submit"] {
        width: auto;
        padding: 0.1em;
        margin-left: 0.2em;
        text-align: center;
        font-size: 0.7em;

    }

}